/* charts style*/
.chartsWrapper{
    width: 100%;
    margin: 30px 0;
    display: flex;
    height: 500px;
    margin-bottom: 50px;
}
.chartsWrapper > div{    
    height: 100%;
    width: 65%;
    padding: 20px;
}
.chartsWrapper > div:last-child{
    width: 33%;
    border-left: 1px solid rgb(194 194 194);
}